body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, #111, #050505);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(8px);

    z-index: 1000;
}
.logo{
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ff6f61;
}
.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color: #ccc;
    font-size: 0.95rem;
    position: relative;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #ff6f61;
}
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #ff6f61;
    transition: 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: #ff6f61;
    cursor: pointer;
}
.navbar.scrolled {
    background: rgba(0, 0, 0, 0.9);
}
@media (max-width: 1000px) {
    .navbar{
        margin-right: 30px;
    }
    .content{
        margin: 0 30px;
    }
    .nav-links {
        position: absolute;
        top: 80px;
        right: 0;
        background: black;
        width: 200px;
        display: flex;
        flex-direction: column;
        border-right: 20px;
        padding: 20px;
        display: none;
    }

    .nav-links a {
        margin: 15px 0;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}
.world-hero{
    text-align: center;
    padding: 120px 20px 60px;
}
.world-hero h1{
    font-size: 3rem;
    color: #ff6f61;
    letter-spacing: 3px;
}
.world-tagline{
    margin-top: 15px;
    color: #aaa;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.world-stats{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 30px 20px;
    font-size: 0.9rem;
    color: #888;
}
.stat{
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 14px;
    border-radius: 8px;
}
.world-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid: 40px;
    padding: 60px 80px;
}
.world-card{
    background: rgba(20, 20, 20, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 14px;
    padding: 30px;
    transition: 0.3s ease;
    text-align: center;
}
.world-card:hover{
    transform: translateY(-8px);
    border: 1px solid #38ff6a50;
    box-shadow: 0 0 25px #38ff6a20;
}
.world-card button{
    margin-top: 15px;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    background: #ff6f61;
    color: black;
    font-weight: bold;
    cursor: pointer;
}